@value makerBlack,makerWhite from '../../common/colors.css';

.password {
  text-align: center;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.hintBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
  border: 1px solid makerWhite;
  border-radius: 50%;
  color: makerWhite;
  background-color: makerBlack;
  cursor: pointer;
}

.hintBtn.visible {
  visibility: hidden;
}

.hintBtn.hidden {
  visibility: visible;
}

.hintBtn:hover {
  transform: scale(1.05);
}

/* .hintComment {
  color: makerWhite;
}

.hintComment.visible {
  display: block;
}

.hintComment.hidden {
  display: none;
} */

.input {
  position: absolute;
  left: 50%;
  transform: translateX(-7.5rem);
  width: 15rem;
  outline: 0;
  border: 0;
  border-radius: 1em;
  padding: 0.5rem;
  animation: input 3s;
}

@keyframes input {
  0% {
    width: 0rem;
  }
  100% {
    width: 15rem;
  }
}
