@value makerBlack,makerWhite,makerGrey from '../../common/colors.css';

.main {
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10px;
  overflow-y: scroll;
  background-color: makerBlack;
  animation: background 3s linear 1;
}

.main::-webkit-scrollbar {
  display: none;
}

.main > section {
  scroll-snap-align: end;
}

@keyframes background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
