@value makerBlack,makerWhite,makerGrey from '../../common/colors.css';

.main {
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: makerBlack;
  animation: background 3s linear 1;
}

.main::-webkit-scrollbar {
  display: none;
}

.empty {
  height: 30rem;
  background-color: black;
}

.empty.pageFive {
  position: relative;
  width: 100%;
  background-color: #20938f;
}

@keyframes background {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
