.about {
  position: relative;
  display: flex;

  height: 100vh;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  ); */

  background-color: #60aff1;
}

.contanierText {
  color: white;
  /* width: 50vw;
  height: 50vh; */
  margin-top: 4rem;
  margin-left: 10vw;
  transform: translateY(-3rem);
  transition: all 1000ms ease;
  opacity: 0;
}

.contanierText.trans {
  transform: translateY(3rem);
  opacity: 1;
}

.title {
  font-size: 6rem;
  font-weight: bold;
  margin: 3rem 0;
}

.info {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.comment {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0;
}

.contanierImg {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.my:hover {
  transform: scale(1.05);
}

.my {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  transition: all 1000ms ease;
}
