.about {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(0, 0, 0, 1) 100%
  ); */
}

.contanierText {
  position: relative;
  top: 10%;
  color: white;
  margin-left: 10vw;
  transform: translateY(-3rem);
  transition: all 1000ms ease-in-out;
  opacity: 0;
  z-index: 100;
}

.contanierText.trans {
  transform: translateY(3rem);
  opacity: 1;
}

.title {
  font-size: 10vw;
  font-weight: bold;
  margin: 3rem 0;
  font-family: 'Black Han Sans', sans-serif;
}

.info {
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
}

.contents {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comment {
  font-size: 1.2rem;
  margin: 1rem 0;
  max-width: 40rem;
  font-family: 'Do Hyeon', sans-serif;
  transition: all 1s ease-in-out;
}

.comment.show {
  opacity: 0;
}

.comment.hide {
  opacity: 1;
}

.history {
  opacity: 0;
  position: absolute;
  top: 0;
  font-size: 1.2rem;
  font-family: 'Do Hyeon', sans-serif;
  transition: all 1s ease-in-out;
}

.history.show {
  opacity: 1;
}

.history.hide {
  opacity: 0;
}

.contanierImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.my:hover {
  transform: scale(1.05);
}

.my {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  opacity: 0;
  transition: all 1000ms ease;
  z-index: 100;
}

.hover {
  position: absolute;
  width: 20rem;
  height: 20rem;
  line-height: 20rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Do Hyeon', sans-serif;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  border-radius: 50%;
  z-index: 100;
  transition: all 1000ms ease;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: cadetblue;
  transition: all 1s ease-in-out;
}

.bang {
  position: absolute;
  top: 0;
  right: 5rem;
  margin: 0;
  animation: bang 1s linear alternate infinite;
}

.contanierImg:hover ~ .background {
  background-color: #60aff1;
}

.contanierImg:hover > .my {
  opacity: 1;
}

.contanierImg:hover > .hover {
  opacity: 0;
}

@keyframes bang {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 1600px) {
  .title {
    font-size: 11rem;
  }

  .info {
    font-size: 5rem;
  }
}

@media screen and (max-width: 760px) {
  .contanierText {
    margin-top: 1rem;
  }

  .my {
    width: 15rem;
    height: 15rem;
  }

  .hover {
    width: 15rem;
    height: 15rem;
    line-height: 15rem;
  }

  .bang {
    position: absolute;
    top: 0;
    right: 3rem;
    margin: 0;
    animation: bang 1s linear alternate infinite;
  }
}

@media screen and (max-width: 480px) {
  .contanierText {
    margin-top: 0rem;
  }

  .title {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  .info {
    font-size: 1rem;
    margin: 0;
  }

  .comment {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .contanierImg {
    margin: 0 1rem;
  }

  .my {
    width: 8rem;
    height: 8rem;
  }

  .hover {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    font-size: 2rem;
  }

  .bang {
    right: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .comment {
    font-size: 0.8rem;
  }
}
