@value makerBlack,makerWhite,makerGrey from '../../common/colors.css';

.hintComment {
  color: makerWhite;
}

.blink {
  color: makerGrey;
  animation: blink 0.9s infinite;
  margin-left: 0.1rem;
  font-size: 1.2rem;
}

.arrow {
  width: 5rem;
  height: 5rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
