@value makerBlack,makerWhite,makerGrey from '../../common/colors.css';

.typing {
  position: absolute;
  transform: translateX(-1.5rem) translateY(-1rem);
}

.hintComment {
  color: makerWhite;
  font-size: 1.2rem;
}

.blink {
  color: makerWhite;
  animation: blink 0.9s infinite;
  margin-left: 0.1rem;
  font-size: 1.4rem;
}

.arrow {
  width: 5rem;
  height: 5rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
