.contact {
  position: fixed;
  left: 0;
  bottom: 15vh;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 100;
  font-size: 2.5rem;
  margin-left: 0.5vw;
  transition: all 100ms ease-in-out;
  animation: slide 1000ms 1 linear;
}

.instagram,
.github,
.email {
  margin-bottom: 1rem;
  mix-blend-mode: difference;
  cursor: pointer;
}

@keyframes slide {
  0% {
    transform: translateX(-10rem);
  }
}
