@value makerBlack,makerWhite,markerGrey,makerShadow from '../../common/colors.css';

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(232, 232, 232);
  border-radius: 0 0 1rem 1rem;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1000;
  transition: all 100ms ease-in-out;
  animation: slide 1000ms 1 linear;
}

.navbar.black {
  background-color: rgba(121, 121, 121, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0);
}

.navbar.white {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(232, 232, 232);
}

.navbarLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 200;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  pointer-events: none;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  pointer-events: none;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-background-clip: text;
  background-image: linear-gradient(0deg, #ffffff, #ffffff);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: makerWhite;
  -webkit-text-stroke: 1px #ffffff;
  background-image: linear-gradient(0deg, #ffffff, #ffffff);
  filter: drop-shadow(0 0 10px #ffffff);
  filter: drop-shadow(0 0 10px #ffffff);
  margin-left: 0.5rem;
  transition: all 100ms ease-in-out;
}

.title.black {
  color: makerBlack;
  -webkit-text-stroke: 1px #000000;
  background-image: linear-gradient(0deg, #000000, #000000);
  filter: drop-shadow(0 0 10px #000000);
}

.title.white {
  color: makerWhite;
  -webkit-text-stroke: 1px #ffffff;
  background-image: linear-gradient(0deg, #ffffff, #ffffff);
  filter: drop-shadow(0 0 10px #ffffff);
}

.menuBar {
  display: flex;
  color: makerWhite;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  transition: all 100ms ease-in-out;
}

.menuBar.black {
  display: flex;
  justify-content: flex-end;
  color: #000000;
  list-style: none;
}

.menuBar.white {
  display: flex;
  justify-content: flex-end;
  color: makerWhite;
  list-style: none;
}

.home,
.about,
.skills,
.animation,
.project,
.contact {
  font-size: 0.7rem;
  margin-right: 4vw;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom 300ms ease;
}

.home:hover,
.about:hover,
.skills:hover,
.animation:hover,
.project:hover,
.contact:hover {
  border-bottom: 2px solid gray;
}

.home.homeDot {
  border-bottom: 2px solid black;
}

.about.aboutDot {
  border-bottom: 2px solid white;
}

.skills.skillsDot {
  border-bottom: 2px solid white;
}

.animation.animationDot {
  border-bottom: 2px solid white;
}

.project.projectDot {
  border-bottom: 2px solid black;
}

@keyframes slide {
  0% {
    transform: translateY(-10rem);
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .navbarLogo {
    display: none;
  }

  .title {
    font-size: 1rem;
  }

  .menuBar {
    width: 100%;
    margin: auto;
  }

  .home,
  .about,
  .skills,
  .animation,
  .project,
  .contact {
    margin: auto;
    font-size: 0.5rem;
  }
}
